body {
    text-align: center;
}

.navbar, .footer {
    background-color: #34302D;
}

label {
    margin: 0;
    padding: 0;
}

.navbar{
    margin-bottom: 3rem;
}

.btn-success {
    background: #6CB33E;
}

.section-header {
    font-size: 5rem;
    padding-bottom: 5%;
    display: block;
}

.warning{
    color: red;
}

/* Containers */
.container-fluid{
    padding: 7% 15%;
}

/* Sections */
.green-section {
    background-color: #6CB33E;
    color: #fff;
}

.grey-section {
    background-color: #564943;
    color: #fff;
}

.white-section {
    background-color: #fff;
    color: #564943;
}

/* about */
#about {
    text-align: left;
}

.flex-container {
    display: flex;
    flex: 1;
    transition: transform 0.2s;
    flex-direction: row;
    flex-wrap: wrap;
}

#about p {
    text-align: justify;
}

.img-wrapper img{
    height: auto;
    width: auto;
    max-width: 450px;
    max-height: 450px;
    margin: auto;
}

/* Work Experience */
.work-text {
    font-size: 2rem;
    line-height: 1.5;
}

/* Certificates */

.certificate-box {
    padding: 4.5%;
}

#certificates .fa-solid {
    color: #564943;
    margin-bottom: 1rem;
}

#certificates .fa-solid:hover {
    color: #34302D;
}

.certificate-title {
    font-size: 2rem;
}

.certificates p {
    font-size: 1rem;
}

/* Skills */
.strong {
    font-weight: 600;
}

/* About Project */
#aboutProject p {
    text-align: justify;
}

/* Front and SkillsService */
#boot p {
    text-align: justify;
}

#boot img{
    margin: 4%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Gateway and Discovery */
#gateway p {
    text-align: justify;
}

/* Security */
#security p {
    text-align: justify;
}

/* Tracing */
#tracing p {
    text-align: justify;
}

.screen_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.image {
    width: 100%;
}

.upper_image {
    flex: 50%;
    max-width: 150px;
    max-height: 150px;
    margin: 4%;
}

.lower_image {
    flex: 100%;
}

/* Kafka */
#kafka p {
    text-align: justify;
}

/* Monitoring */
#monitoring p {
    text-align: justify;
}

/* Deployment */
#deployment p {
    text-align: justify;
}


/* Footer */
.social-icon {
    margin: 20px 20px;
    color: #6CB33E;
}

/* New Skill Form */
#createSkill h1 {
    margin-top: 3%;
}

.form-group{
    text-align: left;
}
